@model IEnumerable<BanNuocHoa.Models.CHITIETDONHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DONHANG.Donhang_ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SANPHAM.Sanpham_ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CT_soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CT_giaban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CT_giamgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CT_thanhtien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DONHANG.Donhang_ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SANPHAM.Sanpham_ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CT_soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CT_giaban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CT_giamgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CT_thanhtien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CT_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CT_ID })
        </td>
    </tr>
}

</table>
