@model BanNuocHoa.Models.THELOAI

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>THELOAI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Theloai_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theloai_ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theloai_mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theloai_mota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Theloai_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
