@model IEnumerable<BanNuocHoa.Models.NGUOIDUNG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nguoidung_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nguoidung_pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nguoidung_hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nguoidung_dienthoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nguoidung_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nguoidung_trangthai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nguoidung_ghichu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nguoidung_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nguoidung_pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nguoidung_hoten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nguoidung_dienthoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nguoidung_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nguoidung_trangthai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nguoidung_ghichu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Nguoidung_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Nguoidung_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Nguoidung_ID })
        </td>
    </tr>
}

</table>
